<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intro">My Intro</a></li>
                    <li><a href="/education">Education</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="aboutcontainer">
            <div class="contacform">
                <div class="contactme">
                    <h1><span>Contact me</span></h1>
                </div> <br><br>
                <form action="/contact" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="recruiterphone" class="form-label">Name</label> <br>
                        <input type="text" class="inpbox" id="recruitername" name="name">
                    </div>
                    <br><br>
                    <div class="mb-3">
                        <label for="recruiteremail" class="form-label">Email</label> <br>
                        <input type="email" class="inpbox" id="recruiteremail" name="email" aria-describedby="emailHelp">
                        <br>
                        <br>
                        <div id="emailHelp" class="form-text">I will never share your email and phone with anyone else.
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="recruiterphone" class="form-label">Phone</label> <br>
                        <input type="phone" class="inpbox" id="recruiterphone" name="phone">
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="enquiry" class="form-label">Enquiry</label> <br>
                        <input type="text" class="inpbox" id="recruiterenquiry" name="enquiry">
                    </div>
                    <br>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="isrecruiter">
                        <label class="form-check-label" for="isrecruiter">I can apply for opportunities.</label>
                    </div>
                    <br>
                    <button type="submit" class="subbtn">Submit</button>
                    <br><br><br>
                    <div class="logoshome">
                        <div class="logo1">
                            <a href="https://linkedin.com/in/swapnali-bhandare" target="blank"><img
                                src="https://www.vectorlogo.zone/logos/linkedin/linkedin-icon.svg"
                                alt="Linkedin" height="50" width="70" /></a>
                            </div>  
                        <div class="logo2">       
                            <a href="https://www.leetcode.com/swapnalib1897@gmail.com" target="blank"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/LeetCode_Logo_black_with_text.svg/458px-LeetCode_Logo_black_with_text.svg.png?20200122084501"
                                alt="Leetcode " height="50" width="70" /></a>
                        </div> 
                        <div class="logo3">          
                            <a href="https://github.com/Sonalibhandare6612" target="blank"><img
                                src="https://www.vectorlogo.zone/logos/github/github-icon.svg"
                                alt="Github " height="80" width="110" /></a><br>
                        </div>           

                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>
<footer>
    <div class="footerc">
        <p>Created by Swapnali Bhandare 2023</p>
    </div>
</footer>

</html>