<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intro">My Intro</a></li>
                    <li><a href="/education">Education</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="conn">
            <div class="title">
                <h1><span>Education</span></h1>
            </div>
            <div class="eduinfo">
                <div class="degree">
                    <h2>2016-2019</h2>
                    <h3>B.E. (E&TC)</h3>
                    <p>I have completed Bachelor in Engineering from JSPM's BIT College Barshi, with Aggregate 71%</p>

                </div>
                <div class="diploma"><br>
                    <h2>2013-2016</h2>
                    <h3>Diploma (E&TC)</h3>
                    <p>I have completed Diploma from ZIP College Barshi,Solapur with Aggregate 80%</p>

                </div>
                <div class="tenth"><br>
                    <h2>2012-2013</h2>
                    <h3>SSC</h3>
                    <p>I have completed SSC from NGH High-school Barshi,Solapur with Aggregate 86%</p>
                </div>

            </div>
        </div>
    </div>

</body>
<hr>
<footer>
    <div class="footerc">
        <p>Created by Swapnali Bhandare 2023</p>
    </div>
</footer>

</html>