<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intro">My Intro</a></li>
                    <li><a href="/education">Education</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="main"><br><hr>
            <div class="infocontainer"><hr><br><hr>
                <div class="devinfo">
                    <div class="name">Swapnali Bhandare</div><hr>
                    <div class="static-text">I'm a ...</div>
                    <ul class="dynamic-text">
                        <li><span>Django Developer.....</span></li>
                        <li><span>Python Developer.....</span></li>  
                        <li><span>frontend Developer.....</span></li>  
                    </ul><br>
                    <div class="from">From Pune India</div>
                    <div class="buttons">
                        <button><a href="Swapnali(py).pdf" target="_blank">Resume</button></a>
                        <button><a href="/contact">Contact me</button></a>
                    </div>
                </div>
                <div class="devpic"> <img src="/static/BeautyPlus_20171026201721_save-removebg-preview.png" alt="My Image">
                </div>
            </div><hr>
            <div class="logoshome">
                <div class="logo1">
                    <a href="https://linkedin.com/in/swapnali-bhandare" target="blank"><img
                            src="https://www.vectorlogo.zone/logos/linkedin/linkedin-icon.svg" alt="Linkedin"
                            height="50" width="70" /></a>
                </div>
                <div class="logo2">
                    <a href="https://www.leetcode.com/swapnalib1897@gmail.com" target="blank"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/LeetCode_Logo_black_with_text.svg/458px-LeetCode_Logo_black_with_text.svg.png?20200122084501"
                            alt="Leetcode " height="50" width="70" /></a>
                </div>
                <div class="logo3">
                    <a href="https://github.com/Sonalibhandare6612" target="blank"><img
                            src="https://www.vectorlogo.zone/logos/github/github-icon.svg" alt="Github " height="80"
                            width="110" /></a>
                </div>
            
            </div>
        </div>
    </div>

</body>
<footer>
    <div class="footerc">
        <p>Created by Swapnali Bhandare 2023</p>
    </div>
</footer>

</html>