<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Introduction Page</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="container">
    <div class="sidebar">

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/intro">My Intro</a></li>
          <li><a href="/education">Education</a></li>
          <li><a href="/project">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="aboutcontainer">
      <div class="intro">
        <h1>About me</h1>
        <p>I'm a Software Engineer with expertise in Python and Django. My goal is to secure a challenging role in
          organization where I can expand her knowledge and skills. Eager to learn new things to
          help organization growth and my career growth. Highly skilled in Python coding and scripting, Django framework
          I have strong programming capabilities and communication skills, which makes me a valuable team player. Also
          developed a range of personal projects, including an e-commerce website, Business website.
        </p><br>
        <hr><hr>
      </div><br><br>
      <div class="myskills">
        <h2>My Skills</h2>
        <div class="pbar">
          <div class="skills">
            <h5>Python</h5>
            <div class="progress-bar">
              <div class="python"><span>85%</span></div>
            </div>
            <h5>Django</h5>
            <div class="progress-bar">
              <div class="django"><span>80%</span></div>
            </div>
            <h5>HTML</h5>
            <div class="progress-bar">
              <div class="html"><span>80%</span></div>
            </div>
            <h5>CSS</h5>
            <div class ="progress-bar">
              <div class="css"><span>75%</span></div>
            </div>
            <h5>Javascript</h5>
            <div class="progress-bar">
              <div class="javascript"><span>65%</span></div>
            </div>
            <h5>MYSQL</h5>
            <div class="progress-bar">
              <div class="mysql"><span>75%</span></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>

</body>
<footer>
  <div class="footerc">
    <p>Created by Swapnali Bhandare 2023</p>
  </div>
</footer>

</html>