<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapnali Bhandare... Web Developer, Software Developer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar1">

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intro">My Intro</a></li>
                    <li><a href="/education">Education</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="proinfo">

            <div class="academicpro">
                <h1>Academic Projects</h1>
                <hr>
                <br>
                <div class="degreepro">
                    <h2>* Automatic Number Plate Recognition System</h2>
                    <h3>Duration :- 6 Months (07/2018 - 03/2019)</h3>
                    <h4>Technologies Used :- Python, Raspberry Pi, Image Processing.</h4><br>
                    <ul>
                        <li>* Build a number Plate Recognition system which can reduce time for traffic management
                            problem by 30%.</li>
                        <li>* Developed Number Detection, Identification system which can improve city traffic loads by
                            over 40%.</li>
                        <li>* Invented project as cost-effective solution for the toll booths, parking areas and traffic
                            policing
                            applications.</li>
                        <li>* Completed entire project with up to date technologies and frameworks and Image processing.</li>
                    </ul>
                </div><br><br>
                <div class="diplomapro">
                    <h2>* Automated Home Security System</h2>
                    <h3>Duration :- 3 Months (12/2015 - 03/2016)</h3>
                    <h4>Technologies Used :- GSM module, Alert System.</h4><br>
                    <ul>
                        <li>* Home security system is needed for convenience and safety. This system invented to keep
                            home safe up
                            to 95%.</li>
                        <li>* Designed and developed an Automated Home Security System that ensures the safety and security of homes by utilizing advanced technologies such as GSM module and alert system.</li>    
                        <li>* Security alarm system for home/office/shops and schools, with GSM sim, advanced technology
                            used in
                            banking and defense sector to achieve 100% security system.</li>
                        <li>* Autodial and SMS function to call, send SMS alerts with 0% additional cost on mobile
                            phones of
                            authorized users.</li>   
                    </ul>

                </div>

            </div><br><br>
            <div class="personalpro">
                <h1>Personal Projects</h1><hr><br>
                <div class="portfoliopro">
                    <h2>* Portfolio Website</h2>
                    <h4>Technologies Used :- HTML5,CSS3,Javascript,Django Framework</h4><br>
                    <ul>
                        <li>* A personal portfolio website is a professional website that provides information about what I do.</li>
                        <li>* Though it does help in building my brand, gaining experience to build a website/web apps. </li>
                        <li>*Showcasing my skills, projects, and experiences at one single place however I want them to show. </li>
                    </ul>

                </div>
                <br>
                <div class="icewebpro">
                    <h2>* Icecreame Parlour Website</h2>
                    <h4>Technologies Used :- HTML5,CSS3,Javascript,Django Framework</h4><br>
                    <ul>
                        <li>* Having a website is an opportunity to make a great first impression and give people comfort that you're a real business.</li>
                        <li>Integrated Django framework to create a responsive website with a seamless user experience.Created a dynamic menu with images and descriptions to showcase the available products and flavors.</li>
                        <li>* Designed User friendly website to help in business growth,Market Expansion,Consumer Insights,Advertising. </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</body>
<footer>
    <div class="footerc">
        <p>Created by Swapnali Bhandare 2023</p>
    </div>
</footer>

</html>